<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>测试页</title>
    {{template "admin/common/common.html"}}
    <style>
        .info-box {
            height: 85px;
            background-color: white;
            background-color: #ecf0f5;
        }
        
        .info-box .info-box-icon {
            border-top-left-radius: 2px;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 2px;
            display: block;
            float: left;
            height: 85px;
            width: 85px;
            text-align: center;
            font-size: 45px;
            line-height: 85px;
            background: rgba(0, 0, 0, 0.2);
        }
        
        .info-box .info-box-content {
            padding: 5px 10px;
            margin-left: 85px;
        }
        
        .info-box .info-box-content .info-box-text {
            display: block;
            font-size: 14px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            text-transform: uppercase;
        }
        
        .info-box .info-box-content .info-box-number {
            display: block;
            font-weight: bold;
            font-size: 18px;
        }
        
        .major {
            font-weight:bold;
            color: #01AAED;
        }
        
        .main {
            margin-top: 25px;
        }
        
        .main .layui-row {
            margin: 10px 0;
        }
    </style>
</head>

<body>
    <div class="layui-fluid main">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md3">
                <div class="info-box">
                    <span class="info-box-icon" style="background-color:#00c0ef !important;color:white;"><i class="fa fa-ambulance" aria-hidden="true"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">CPU</span>
                        <span class="info-box-number">{{.Cpu}}核</span>
                    </div>
                </div>
            </div>
            <div class="layui-col-md3">
                <div class="info-box">
                    <span class="info-box-icon" style="background-color:#dd4b39 !important;color:white;"><i class="fa fa-google-plus" aria-hidden="true"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Likes</span>
                        <span class="info-box-number">25,412</span>
                    </div>
                </div>
            </div>
            <div class="layui-col-md3">
                <div class="info-box">
                    <span class="info-box-icon" style="background-color:#00a65a !important;color:white;"><i class="fa fa-shopping-bag" aria-hidden="true"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">服务器系统</span>
                        <span class="info-box-number">{{.Sys}}</span>
                    </div>
                </div>
            </div>
            <div class="layui-col-md3">
                <div class="info-box">
                    <span class="info-box-icon" style="background-color:#f39c12 !important;color:white;"><i class="fa fa-users" aria-hidden="true"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">今天留言数:</span>
                        <span class="info-box-number">{{.reviewCount}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-col-md12">
                <ul class="layui-timeline">
                    {{range $key,$val := .line}}
                        <li class="layui-timeline-item" data-id="{{$val.id}}" id="layui-{{$val.id}}">
                        <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                        <div class="layui-timeline-content layui-text">
                            <h3 class="layui-timeline-title">{{$val.code}}</h3>
                            <ul>
                                <li>删除本条数据:
                                    <a target="" href="javascript:void(0);" class="tag" data-id="{{$val.id}}" data-token="{{$val.token}}">
                                        <i class="layui-icon layui-icon-delete" style="font-size: 30px;">&#xe640;</i>

                                    </a>
                                </li>
                                <li>修改:
                                    <a target="" href="/admin/timeinfo?id={{$val.id}}&token={{$val.token}}" class="edit-tag" data-id="{{$val.id}}" data-token="{{$val.token}}">
                                        <i class="layui-icon layui-icon-edit" style="font-size: 30px;">&#xe642;</i>

                                    </a>
                                </li>
                            </ul>
                            {{str2html $val.content}}
                        </div>
                    </li>

                    {{end}}

                </ul>

            {{if gt .count 10}}
                <div class="item-btn">
                    <button class="layui-btn layui-btn-normal layui-page-next" data-count="{{.count}}">下一页</button>
                </div>
            {{end}}


            </div>
        </div>
    </div>

    <script src="/static/admin/plugins/layui/layui.js"></script>
    <script>
        layui.use(['form', 'layedit', 'laydate'], function() {
            var form = layui.form,
                    layer = layui.layer;
             var lay = layer;

            //删除事件
            $('.tag').click(function () {

                var self = e;

                var tid = $(self).attr('data-id');

                var token = $(self).attr('data-token');

                if(tid == '' || token == ''){

                    layer.msg("非法请求，参数不完整！");

                    return false;
                }

                $.ajax({
                    url:'/admin/deltime/id='+tid+'&token='+token,
                    data:'id='+tid+'&token='+token,
                    type:'Get',
                    dataType:'json',
                    success:function (response) {
                        if(response.code != '0'){

                            layer.msg(response.msg)
                        }else{

                           $('#layui-'+tid).remove();

                            layer.msg(response.msg)

                        }

                    },
                    error:function (err) {

                        console.log(err);

                    }
                });

            });


            /**
             * 时间线下一页
             */
            $('.layui-page-next').click(function (e) {
                lay.load();
                //同时禁止再次点击
                $('.layui-page-next').attr('disabled','disabled');

                //获取最后一个id
                var id = $('.layui-timeline').children('li:last-child').attr("data-id");


                //获取下一页 ajax请求

                $.ajax({
                    url:'/time/page?id='+id,
                    type:'get',
                    dataType:'json',
                    success:function (response) {

                        if(response.code == '0'){

                            $.each(response.data,function (index,val) {

                                $('.layui-timeline').append(' <li class="layui-timeline-item" data-id="'+val.tid+'">\n' +
                                        '                            <i class="layui-icon layui-timeline-axis">&#xe63f;</i>\n' +
                                        '                            <div class="layui-timeline-content layui-text">\n' +
                                        '                                <h3 class="layui-timeline-title">'+val.code+'</h3>\n' +
                                      ' <ul>'+
                                        '<li>删除本条数据:'+
                                        '<a target="" href="javascript:void(0);" class="tag" data-id="'+val.tid+'" data-token="">'+
                                        '<i class="layui-icon layui-icon-delete" style="font-size: 30px;"></i>'+
                                        '</a>'+
                                        '</li>'+
                                '<li>修改:'+
                            '<a target="" href="/admin/timeinfo?id='+val.tid+'&token='+val.token+'" class="edit-tag" data-id="'+val.tid+'" data-token="'+val.token+'">'+
                                        '<i class="layui-icon layui-icon-edit" style="font-size: 30px;"></i>'+

                                '</a>'+
                                '</li>'+
                                '</ul>'+
                                        '                                <p>\n' +val.content+
                                        '</p>\n' +
                                        '</div>\n' +
                                        '\n' +
                                        '</li>');
                            });

                            $('.layui-page-next').removeAttr('disabled');
                            layer.closeAll('loading');

                        }else{

                            lay.msg('没有数据了，别点了，要哭了*——*');
                            layer.closeAll('loading');
                        }

                    },
                    error:function (err) {

                    }
                });

            });



        });


    </script>
</body>

</html>