{{/*<script type="text/javascript">
    var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cspan id='cnzz_stat_icon_1264021086'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s22.cnzz.com/z_stat.php%3Fid%3D1264021086%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));
</script>*/}}
<script src="/static/admin/plugins/layui/layui.js"></script>
<script>
    var message;
    layui.config({
        base: 'static/admin/js/'
    }).use(['app', 'message'], function() {
        var app = layui.app,
                $ = layui.jquery,
                layer = layui.layer;
        //将message设置为全局以便子页面调用
        message = layui.message;
        //主入口
        app.set({
            type: 'iframe'
        }).init();
        $('#pay').on('click', function() {
            layer.open({
                title: false,
                type: 1,
                content: '<img src="/static/admin/images/pay.png" />',
                area: ['500px', '250px'],
                shadeClose: true
            });
        });

        //基本资料设置
        $('#Lay_message').click(function () {
            //弹出新增窗口
            layer.open({
                type: 2,
                title: '基本资料',
                shadeClose: true,
                shade: false,
                maxmin: true, //开启最大化最小化按钮
                area: ['893px', '600px'],
                content: '/admin/user/message'
            });

        });
        //基本资料设置
        $('#Clear_log').click(function () {
            //弹出新增窗口
            layer.open({
                type: 2,
                title: '清理缓存日志',
                shadeClose: true,
                shade: false,
                maxmin: true, //开启最大化最小化按钮
                area: ['893px', '600px'],
                content: '/admin/clear'
            });

        });


        $(function() {
            var ws = new WebSocket('ws://' + window.location.host + '/ws/index');
            //获取返回的值
            ws.onopen = function(){
                var obj = {};
                obj.message = '尝试连接socket' + new Date().toLocaleString();
                obj.account = '949656336@qq.com';
                obj.token = 'asdfghjkl';
                obj.code = 200;
                //数据报告
                // console.log(obj);
                obj = JSON.stringify(obj);
                ws.send(obj);
            }


            ws.onmessage = function(e) {
                var  res = JSON.parse(e.data);
                if(res.count > 0){
                    $('#msg-list').html('<span class="layui-badge">'+res.count+'</span>');
                    layer.msg(res.message,{
                        time:10000,
                    });
                }

                //console.log(JSON.parse(e.data));
                //添加返回消息 告诉服务器 此页面还存在
                //{"message":"data"}
                var obj = {};
                obj.message = '链接存在' + new Date().toLocaleString();
                obj.code = res.code;
                //console.log(obj);
                obj = JSON.stringify(obj);
                ws.send(obj);

            };
            var $ul = $('#msg-list');
        });


    });



</script>