<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>关于-闲言轻博客</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    {{template "common/comm.html"}}
</head>
<body class="lay-blog">
		{{template "common/head.html" .}}
		<div class="container-wrap">
			<div class="container container-message container-details container-about">
					<div class="contar-wrap">
						<div class="item">
							<div class="item-box">
								<h3>关于本站</h3>
								{{str2html .Abort.Content}}
								<div class="count layui-clear">
									<span class="pull-left">阅读 <em>100000+</em></span>
									<span class="pull-right like"><i class="layui-icon layui-icon-praise"></i><em>999</em></span>
								</div>
							</div>
						</div>			
					</div>
			</div>
		</div>

		{{template "common/footer.html"}}


</body>
</html>