<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{.articleData.Title}}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="{{.articleData.Keywords}}">
	<meta name="description" content="{{.articleData.Keywords}}">
	{{template "common/comm.html"}}
</head>
<body class="lay-blog">
		{{template "common/head.html" .}}
		<div class="container-wrap">
			<div class="container layui-row container-message container-details" style="width: 1170px;">
					<div class="contar-wrap contar-list layui-col-md8 layui-col-xs6 layui-col-sm6" >
						<div class="item">
							<div class="item-box  layer-photos-demo1 layer-photos-demo">
								<h2 style="text-align: center;"><a href="#">{{.articleData.Title}}</a></h2>
								<h5>发布于：<span style="color: #01AAED;"> {{date (.articleData.CreatedAt) "Y-m-d H:i:s"}}</span>
									<span > 作者：<span style="color: #01AAED;">{{.articleData.Author}}</span></span>
								</h5>
								<div class="w-e-text" style="padding: 0;overflow: auto;">{{str2html .articleData.Content}}</div>


								<div class="count layui-clear">
									<span class="pull-left">阅读 <em>{{.articleData.Read_num}}</em></span>
									<span class="pull-right like"><i class="layui-icon layui-icon-praise article_click" data-id="{{.articleData.ID}}"></i><em>{{.articleData.Click}}</em></span>
								</div>

                                <ul class="b-prev-next" >
                                    <li class="b-prev" style="list-style: none;!important;"> 上一篇：
									{{if eq .articlePrev.id "0"}}
                                        <span>没有了</span>
									{{else}}
                                        <a href="/article/info?id={{.articlePrev.id}}" style="color: #0B7DF2;">{{.articlePrev.title}}</a>
									{{end}}
                                    </li>
                                    <li class="b-next" style="list-style: none;!important;"> 下一篇：
										{{if eq .articleNext.id "0"}}
                                            <span>没有了</span>
												{{else}}
										<a href="/article/info?id={{.articleNext.id}}" style="color: #0B7DF2;">{{.articleNext.title}}</a>
												{{end}}
									</li>
                                </ul>
							</div>

						</div>	
						<a name="comment" id="commit-page"> </a>
						<div id="LAY-msg-box">

                            <div id="container"></div>
						</div>
					</div>
					{{template "common/right.html" .}}
			</div>
		</div>
		{{template "common/footer.html"}}

</body>
</html>