<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{.articleData.Title}}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{{template "common/comm.html"}}
</head>
<body class="lay-blog">
		{{template "common/head.html" .}}
		<div class="container-wrap">
			<div class="container container-message container-details">
					<div class="contar-wrap">
						<div class="item">
							<div class="item-box  layer-photos-demo1 layer-photos-demo">
								<h3><a href="#">{{.articleData.Title}}</a></h3>
								<h5>发布于：<span style="color: #01AAED;"> {{date (.articleData.CreatedAt) "Y-m-d H:i:s"}}</span></h5>
								<div class="w-e-text" style="padding: 0;overflow: auto;">{{str2html .articleData.Content}}</div>
								<div class="count layui-clear">
									<span class="pull-left">阅读 <em>{{.articleData.Read_num}}</em></span>
									<span class="pull-right like"><i class="layui-icon layui-icon-praise article_click" data-id="{{.articleData.ID}}"></i><em>{{.articleData.Click}}</em></span>
								</div>
							</div>
						</div>	
						<a name="comment" id="commit-page"> </a>
						<div id="LAY-msg-box">

                            <div id="container"></div>
						</div>
					</div>
			</div>
		</div>
		{{template "common/footer.html"}}

</body>
</html>