<div class="footer">
    <p>
        <span>&copy; 2018</span>
        <span><a href="https://mdd.pbtown.com" target="_blank">PHP版本博客</a></span>
        <span>MIT license</span>
    </p>
    <p><span><a href="http://www.layui.com" target="_blank">前端基于贤心</a>+后端<a href="https://beego.me/" target="_blank">Beego框架</a></span></p>
</div>
<script src="/static/layui/layui.js"></script>
<script type="text/javascript" src="/static/js/jquery-1.7.2.js"></script>
<script type="text/javascript" src="/static/release/wangEditor.min.js"></script>

<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
<script>
    //window.location.hash = "#commit-page";

    function tar_href(e) {

        var herf = $(e).attr("data-href");

        window.location.href = herf;
    }
    var gitment = new Gitment({
        id: '', // 可选。默认为 location.href
        owner: 'biekanwonicheng',
        repo: 'mywork',
        oauth: {
            client_id: '62c6cd2e9f1f4dad2de0',
            client_secret: 'e508f0db74f507b845c68ae017e003480188458e',
        },
    })
    gitment.render('container')
</script>
<script>
    layui.config({
        base: '/static/static/js/'
    }).use('blog');

    layui.use(['form', 'jquery','laypage','util'], function() {
        var util = layui.util;
        var laypage = layui.laypage;
        var lay = layui.layer;
        //总页数大于页码总数 --留言分页
        laypage.render({
            elem: 'review'
            ,count: "{{.RePage}}" //数据总数
            ,jump: function(obj){
                layer.load();
                var page = obj.curr;
                if(page > 0){

                    $.ajax({
                       url:'/message/review/page?page='+page,
                       type:'get',
                       dataType:'json',
                       success:function (response) {

                           if(response.code == "0"){
                               $('.info-box').html('');
                               $(response.data).each(function (index,val) {
                                    $('.info-box').append('<div class="info-item">\n' +
                                            '<img class="info-img" src="/static/static/images/info-img.png" alt="">\n' +
                                            '<div class="info-text">\n' +
                                            '<p class="title count">\n' +
                                            '<span class="name">'+val.Address+'</span>\n' +
                                            '<span class="info-img like"><i class="layui-icon layui-icon-praise"></i>'+val.Click+'</span>\n' +
                                            '</p>\n' +
                                            '<p class="info-intr">'+val.Message+'</p>\n' +
                                            '</div>\n' +
                                            '</div>');
                               });
                           }

                       },
                        error:function (err) {
                            console.log(err);
                        }
                    });
                    layer.closeAll('loading');
                }else {
                    return false;
                }
            }
        });

        $('.layui-page-next').click(function (e) {
            lay.load();
            //同时禁止再次点击
            $('.layui-page-next').attr('disabled','disabled');

            //获取最后一个id
            var id = $('.layui-timeline').children('li:last-child').attr("data-id");


            //获取下一页 ajax请求

            $.ajax({
                url:'/time/page?id='+id,
                type:'get',
                dataType:'json',
                success:function (response) {

                    if(response.code == '0'){

                        $.each(response.data,function (index,val) {

                            $('.layui-timeline').append(' <li class="layui-timeline-item" data-id="'+val.tid+'">\n' +
                                    '                            <i class="layui-icon layui-timeline-axis">&#xe63f;</i>\n' +
                                    '                            <div class="layui-timeline-content layui-text">\n' +
                                    '                                <h3 class="layui-timeline-title">'+val.code+'</h3>\n' +
                                    '                                <p>\n' +val.content+
                                    '</p>\n' +
                                    '</div>\n' +
                                    '\n' +
                                    '</li>');
                        });

                        $('.layui-page-next').removeAttr('disabled');
                        layer.closeAll('loading');

                    }else{

                        lay.msg('没有数据了，别点了，要哭了*——*');
                        layer.closeAll('loading');
                    }

                },
                error:function (err) {
                    
                }
            });

        });
        /*文章页面下一页*/
        $('.lay-page-article').click(function (e) {
            lay.load();
            //同时禁止再次点击
            $('.lay-page-article').attr('disabled','disabled');

            //获取最后一个id
            var id = $('.layui-article:last-child').attr("data-id");

            var category_id = "{{.is_category}}";

            //获取下一页 ajax请求

            $.ajax({
                url:'/article?id='+id+"&category="+category_id,
                type:'get',
                dataType:'json',
                success:function (response) {

                    if(response.code == '0'){

                        $.each(response.data,function (index,val) {
                            var str = '';
                            if(val.img != ''){

                                str = '<img src="/'+val.img+'" title="'+val.title+'" style="width:200px ;height:130px;">';
                            }
                            $('.contar-wrap').append('<div class="item layui-article" data-id="'+val.id+'">\n' +
                                    '                <div class="item-box  layer-photos-demo1 layer-photos-demo">\n' +
                                    '                    <h3><a href="/article/info?id='+val.id+'">'+val.title+'</a></h3>\n' +
                                    '                    <h5><i class="layui-icon  "></i> 时间：<span style="color: #01AAED;">'+val.created_time+'</span>\n' +
                                    '                        <span style="margin-left: 40px;">\n' +
                                    '                            <i class="layui-icon "></i>\n' +
                                    '                            标签：<span style="color: #01AAED;">'+val.tags.Mnames+'</span>\n' +
                                    '                        </span>\n' +
                                    '                        <span style="float: right;">\n' +
                                    '                            <i class="layui-icon  "></i>\n' +
                                    '                            作者：<a href="#" style="color: #01AAED;"><span>'+val.author+'</span></a>\n' +
                                    '                        </span>\n' +
                                    '\n' +
                                    '                    </h5>\n' +
                                    '                    <p>'+val.descript+'</p>\n' +str+
                                    '                </div>\n' +
                                    '                <div class="comment count">\n' +
                                    '                    <a href="details.html#comment">评论</a>\n' +
                                    '                    <a href="javascript:void(0);" class="article_click" data-id="'+val.id+'" class="like">点赞</a>\n' +
                                    '                </div>\n' +
                                    '            </div>');
                        });

                        $('.lay-page-article').removeAttr('disabled');
                        layer.closeAll('loading');

                    }else{

                        lay.msg('没有数据了，别点了，要哭了*——*');

                        layer.closeAll('loading');
                    }

                },
                error:function (err) {

                }
            });

        });

        function articleClick(e) {

            var _self = $(e);

            var id = _self.attr("data-id");

            console.log(id);
        }

        $('.article_click').live('click',function () {
            console.log($(e).attr('data-id'));
            var id = $(e).attr('data-id');

            if(id == '' || id == undefined){
                return false;
            }

            $.ajax({
                url:'/article/click?aid='+id,
                type:'get',
                dataType:'json',
                success:function () {

                    console.log('点赞成功');
                },
                error:function (err) {

                }
            })
        });


        /**
         * 右下侧的导航栏
         */
        util.fixbar({
            bar1: true,
            bgcolor:"#1E9FFF",
            showHeight:100,
            css:{right: 50, bottom: 150}
            ,click: function(type){

                if(type === 'bar1'){
                   //关于本站
                    window.location.href ='/about';
                }
            }
        });


        //总页数大于页码总数
        laypage.render({
            elem: 'common-article-page'
            ,count: "{{.articleNum}}" //数据总数
            ,jump: function(obj,first){

                //判断是否是首次加载
                if(!first){
                    lay.load();
                    //同时禁止再次点击
                    $('.lay-page-article').attr('disabled','disabled');

                    //获取最后一个id
                    var id = $('.layui-article:last').attr("data-id");

                    var category_id = "{{.is_category}}";

                    //获取查询条件框的输入值

                    var search = $('input[name="keyword"]').val();

                    var tags = "{{.PageTag}}";

                    //获取下一页 ajax请求

                    $.ajax({
                        url:'/article?id='+id+"&category="+category_id+'&page='+obj.curr+'&keywords='+search+'&tag='+tags,
                        type:'get',
                        dataType:'json',
                        success:function (response) {
                            //清空以前的数据
                            $('.contar-wrap').html('');
                            if(response.code == '0'){

                                $.each(response.data,function (index,val) {
                                    var str = '';
                                    if(val.img != ''){

                                        str = '<img src="/'+val.img+'" title="'+val.title+'" style="width:200px ;height:130px;">';
                                    }
                                    $('.contar-wrap').append('<div class="item layui-article" data-id="'+val.id+'">\n' +
                                            '                <div class="item-box  layer-photos-demo1 layer-photos-demo">\n' +
                                            '                    <h3><a href="/article/info?id='+val.id+'">'+val.title+'</a></h3>\n' +
                                            '                    <h5><i class="layui-icon  "></i> 时间：<span style="color: #01AAED;">'+val.created_time+'</span>\n' +
                                            '                        <span style="margin-left: 40px;">\n' +
                                            '                            <i class="layui-icon "></i>\n' +
                                            '                            标签：<span style="color: #01AAED;">'+val.tags.Mnames+'</span>\n' +
                                            '                        </span>\n' +
                                            '                        <span style="float: right;">\n' +
                                            '                            <i class="layui-icon  "></i>\n' +
                                            '                            作者：<a href="#" style="color: #01AAED;"><span>'+val.author+'</span></a>\n' +
                                            '                        </span>\n' +
                                            '\n' +
                                            '                    </h5>\n' +
                                            '                    <p>'+val.descript+'</p>\n' +str+
                                            '                </div>\n' +
                                            '                <div class="comment count">\n' +
                                            '                    <a href="details.html#comment">评论</a>\n' +
                                            '                    <a href="javascript:void(0);" class="article_click" data-id="'+val.id+'" class="like">点赞</a>\n' +
                                            '                </div>\n' +
                                            '            </div>');
                                });

                                $('.lay-page-article').removeAttr('disabled');
                                layer.closeAll('loading');

                            }else{

                                lay.msg('没有数据了，别点了，要哭了*——*');

                                layer.closeAll('loading');
                            }

                        },
                        error:function (err) {

                        }
                    });
                }
            }
        });

        laypage.render({
            elem: 'common-fiction-page'
            ,count: "{{.fictionNum}}" //数据总数
            ,jump: function(obj,first){
                console.log(first);
                //判断是否是首次加载
                if(!first){
                    lay.load();

                    //获取下一页 ajax请求

                    $.ajax({
                        url:'/fiction/page?page='+obj.curr,
                        type:'get',
                        dataType:'json',
                        success:function (response) {
                            //清空以前的数据
                            $('#m-fiction').html('');
                            if(response.code == '0'){

                                $.each(response.data,function (index,val) {

                                    $("#m-fiction").append('<tr>\n' +
                                            '                        <td><a  title="下载" href="/fiction/download?txt_id='+val.ID+'"'+val.Name+'</a></td>\n' +
                                            '                        <td>'+val.DownloadNum+'</td>\n' +
                                            '                        <td>'+val.Tags+'</td>\n' +
                                            '                    </tr>')
                                });




                                layer.closeAll('loading');

                            }else{

                                lay.msg('没有数据了，别点了，要哭了*——*');

                                layer.closeAll('loading');
                            }

                        },
                        error:function (err) {

                        }
                    });
                }
            }
        });

    });
</script>