<!DOCTYPE HTML>
<html>
<head>
<title>后台登录</title>
<!-- Custom Theme files -->
<link href="/static/admin/css/style.css" rel="stylesheet" type="text/css" media="all"/>
<!-- Custom Theme files -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<meta name="keywords" content="Login form web template, Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />

</head>
<body>
<div class="login">
	<h2>Lite 后台登录</h2>
	<div class="login-top">
		<h1>登录详情</h1>
		<form action="/admin/dologin" method="post">
			<input type="text" name="account" value="" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '账户';}">
			<input type="password" name="password" value="" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '密码';}">

	    <div class="forgot">
	    	<a href="#">忘记密码</a>
	    	<input type="submit" value="登录" >
	    </div>
        </form>
	</div>
	<div class="login-bottom">
		<h3>新用户 &nbsp;<a href="#">注册</a>&nbsp 欢迎</h3>
	</div>
</div>	
<div class="copyright">

</div>


</body>
</html>